<div class="container">
  <form class="jumbotron">
      <h3 class="display-4">Verifica Email</h3>
      <div class="form-group">
        <label for="title">Email:</label>
        <input name="title" #newEmail class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Oggetto:</label>
        <input name="link" #newOggetto class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Messaggio:</label>
        <input name="link" #newMessaggio class="form-control">
      </div>
    <button>
      Invia
    </button>
  </form>
</div>