<div class="container">
  <form class="jumbotron">
      <h3 class="display-4">Verifica Email</h3>
      <div class="form-group">
        <label for="email">Email:</label>
        <input name="email" #newEmail class="form-control">
      </div>
      <div class="form-group">
        <label for="object">Oggetto:</label>
        <input name="object" #newOggetto class="form-control">
      </div>
      <div class="form-group">
        <label for="messagge">Messaggio:</label>
        <input name="messagge" #newMessaggio class="form-control">
      </div>
    <button>
      Invia
    </button>
  </form>
</div>